body{
    background-color: rgb(73, 66, 66);
    margin: 0px;
}

.logo2{
    align-items: center;

    display: block;
}
.navigation{
    text-align:center;
    background-color: rgba(101, 138, 138, 0.212);
  
}
.header{
     background-color: aqua;
     
}
.navigation a{
    color: rgb(234, 233, 240);
    display: inline-block;
    padding: 10px;
    text-decoration: none;
}
.banner {
    /*vh - viwepoint height = window height*/
    min-height: 50vh;
    background-image: url(pexels-sami-aksu-10003548.jpg);
    background-size: cover;
    background-position: center;

}
.banner h1{
    text-align: center;
    margin: 0px;
    padding: 25vh;
    color: antiquewhite;
    font-size: xx-large;
    text-shadow: 0px 0px 2px color(srgb-linear rgb(82, 28, 28) rgb(5, 148, 5) blue)  ;
} 
